try-import .bazelrc.local

# Temporarily allow the old Java parameters to support our old version of grpc-java.
# TODO: remove in CLOUDP-119817
build --incompatible_java_common_parameters=false

# Use our downloaded JDK21 to compile/run Java sources.
build --java_language_version=21
build --java_runtime_version=adoptium_21
build --tool_java_language_version=21
build --tool_java_runtime_version=adoptium_21
# Recent versions of protobuf require c++14
build --host_cxxopt='-std=c++14'

# Use multi-release jars
build --incompatible_multi_release_deploy_jars

# By default stamp things with the "local" label
build --stamp
build --embed_label=local

# Use the strongest SecureRandom implementation available (DRBG) as an entropy source
build --jvmopt="-Djava.security.egd=file:/dev/urandom"

# Enable Java Vector API for SIMD support
build --jvmopt="--add-modules=jdk.incubator.vector"

# Enable native access for vector similarity code.
build --jvmopt="--enable-native-access=ALL-UNNAMED"

# Print LocalDev container version at the beginning of build process
build --workspace_status_command="LOCAL_DEV_CONTAINER_VERSION=$LOCAL_DEV_CONTAINER_VERSION bazel/common/workspace_status.sh"

# Retry failed downloads in case of transient network errors
build --experimental_repository_downloader_retries=5

# Build with full optimizations so native code is compiled in release mode
build -c opt

# Enable isolation (used by Maven) to scope overrides to a single extension usage.
# Flag has been stable in practice despite name.
common --experimental_isolated_extension_usages

# Set to false to grandfather in existing BUILD files with empty globs
common --incompatible_disallow_empty_glob=false

# code ownership configuration
common --define=codeowners_have_allowed_unowned_files=True
common --define=codeowners_allowed_unowned_files_path=.github/ALLOWED_UNOWNED_FILES.yml
common --define=codeowners_have_default_owner=True
common --define=codeowners_default_owner=10gen/code-review-team-search-unowned-file-reviewers

try-import %workspace%/.bazelrc.evergreen
